<div class="card mat-card" id="second-card">
    <div class="row">
    <div class="col">
        <h2>Acerca de</h2>
        <div class="detalles"><p>Estudiante de programación y analista en sistemas</p></div>
    </div>
    <div class="col">
        <a href="#">
          <i class="fa fa-pen" id="confgpen"></i>
        </a>
    </div>
    </div>
  </div>
  
  <div class="card mat-card" id="third-card">
    <div class="row">
    <div class="col">
        <h2>Experiencia</h2>
        <div class="detalles">
          <p>Sistemas, Sanatorio Privado</p>
      </div>
    </div>
    <div class="col">
      <a href="#">
        <i class="fa fa-pen" id="confgpen"></i>
      </a>
  </div>
    </div>
        
    <hr>
    <div class="row">
      <div class="col">
        <h2>Educación</h2>
        <div class="detalles">
          <p>Estudiante de Analista en Sistemas</p>
          <p>Curso Desarrollador Full Stack (en Curso)</p>
        </div>
      </div>
      <div class="col">
          <a href="#">
            <i class="fa fa-pen" id="confgpen2"></i>
          </a>
      </div>
    </div>
  
    <hr>
    <div class="row">
      <div class="col">
        <h2>Educación</h2>
        <div class="detalles">
          <p>Estudiante de Analista en Sistemas</p>
          <p>Curso Desarrollador Full Stack (en Curso)</p>
        </div>
      </div>
      <div class="col">
          <a href="#">
            <i class="fa fa-pen" id="confgpen2"></i>
          </a>
      </div>
    </div>
    
  </div>